<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Capacity</key>
	<integer>8</integer>
	<key>Dimension</key>
	<integer>6</integer>
	<key>Periods</key>
	<integer>1</integer>
	<key>HoldingCost</key>
	<real>1.5</real>
	<key>Distribution</key>
	<array>
		<real>2.06115362e-09</real>
		<real>4.12230724e-08</real>
		<real>4.12230724e-08</real>
		<real>2.06115362e-09</real>
		<real>4.12230724e-08</real>
		<real>4.12230724e-08</real>
		<real>2.06115362e-09</real>
		<real>4.12230724e-08</real>
		<real>4.12230724e-08</real>
		<real>2.06115362e-09</real>
		<real>4.12230724e-08</real>
		<real>4.12230724e-08</real>
	</array>
</dict>
</plist>
